<%= form_for(@indexer_task) do |f| %>
    <% if @indexer_task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@indexer_task.errors.count, "error") %> prohibited this indexer_task from being saved:</h2>

          <ul>
            <% @indexer_task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :recursive %>
      <br/>
      <%= f.check_box :recursive %>
    </div>
    <div class="field">
      <%= f.label :overwrite %>
      <br/>
      <%= f.check_box :overwrite %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <br/>
      <%= f.number_field :status %>
    </div>
    <div class="field">
      <%= f.label :device %>
      <br/>
      <%= f.text_field :device_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
