<%
require "digest/md5"
%>

<%= @indexer_task.name %><br/>
<ul>
  <% @files_directory.each { |x| %>
      <% if FileTest.directory?(x) %>
          <li><%= x %></li>
      <% else %>
          <li>
            <%= x %>, <%= FileTest.size(x) %>,
            <%= Digest::MD5.hexdigest(File.binread(x)) %>
          </li>
      <% end %>
  <% } %>
</ul>