<% content_for :menu do %>
    <div class="actions">
      <%= link_to 'New Indexer task', new_indexer_task_path, :class => 'btn btn-primary btn-large' %>
    </div>
<% end %>

<div class="index">

<h2>Listing indexer_tasks</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Recursive</th>
    <th>Overwrite</th>
    <th>Status</th>
    <th>Device</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @indexer_tasks.each do |indexer_task| %>
      <tr>
        <td><%= link_to indexer_task.name, indexed_directory_path(indexer_task.indexed_directory_id) %></td>
        <td><%= indexer_task.recursive? %></td>
        <td><%= indexer_task.overwrite? %></td>
        <td><%= indexer_task.status %></td>
        <td><%= link_to indexer_task.device.name, device_path(indexer_task.device.id) %></td>

        <td class="actions">
          <%= link_to 'Show', indexer_task %>
          <%= link_to 'Analyze', analyze_indexer_task_path(indexer_task) %>
          <%= link_to 'Edit', edit_indexer_task_path(indexer_task) %>
          <%= link_to 'Destroy', indexer_task, confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>

<br />



