<% content_for :menu do %>
    <h2>Devices</h2>
    <div class="actions">
      <%= link_to 'New Device', new_device_path, :class => 'btn btn-primary btn-large' %>
    </div>
<% end %>

<h3>List</h3>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= device.name %></td>
    <td><%= device.description %></td>
    <td><%= link_to 'Show', device %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Go root', go_root_device_path(device) %></td>
    <td><%= link_to 'Destroy', device, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

