<%= form_for(@status_task) do |f| %>
  <% if @status_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_task.errors.count, "error") %> prohibited this status_task from being saved:</h2>

      <ul>
      <% @status_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
