<div class="well">
  <h2>Definition</h2>
  <p>
    <strong>Indexable:</strong>
    <%= @indexed_directory.indexable %>
  </p>

  <p>
    <strong>Sortable:</strong>
    <%= @indexed_directory.sortable %>
  </p>
  <p>
    <strong>Recursive:</strong>
    <%= @indexed_directory.recursive %>
  </p>
  <p>
    <strong>Deleted:</strong>
    <%= @indexed_directory.deleted %>
  </p>
</div>

<div class="well">
  <h2>Status</h2>
  <p>
    <strong>Size:</strong>
    <%= hsize(@indexed_directory.size) %>
  </p>
  <p>
    <strong>Indexed:</strong>
    <%= @indexed_directory.indexed %>
  </p>

  <p>
    <strong>Analyzed:</strong>
    <%= @indexed_directory.analyzed %>
  </p>

  <p>
    <strong>Num. Files:</strong>
    <%= @indexed_directory.numfiles %>
  </p>

  <p>
    <strong>Num. Directories:</strong>
    <%= @indexed_directory.numdirectories %>
  </p>
</div>

<div class="well">
  <h2>Childs Status</h2>

  <p>
    <strong>Indexed:</strong>
    <%= @indexed_directory.recursive_indexed %>
  </p>

  <p>
    <strong>Analyzed:</strong>
    <%= @indexed_directory.recursive_analyzed %>
  </p>


  <p>
    <strong>Size:</strong>
    <%= hsize(@indexed_directory.recursive_size) %>
  </p>

  <p>
    <strong>Num. Files:</strong>
    <%= @indexed_directory.recursive_numfiles %>
  </p>

  <p>
    <strong>Num. Directories:</strong>
    <%= @indexed_directory.recursive_numdirectories %>
  </p>
</div>

