<div class="well">
  <h2><%= @indexed_directory.name %> </h2>
  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to @indexed_directory.device.name, device_path(@indexed_directory.device.id) %>
    </li>
    <% @indexed_directory.hierarchy.each do |directory| %>
        <li class="active">
          <%= link_to directory.name, indexed_directory_path(directory) %>
        </li>
    <% end %>
  </ul>
  <%= render 'indexer_button' %>
</div>

<% content_for :menu do %>

    <%= render 'description' %>


    <%= render 'commons/options' %>

<% end %>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <%= render :partial => "commons/indexed_directory/row", :collection => @indexed_directory.indexed_directories, :as => :directory %>

  <%= render :partial => "commons/indexed_file/row", :collection => @indexed_directory.indexed_files, :as => :file %>

  <%= render :partial => "commons/directory/row", :collection => @new_directories, :as => :directory %>

  <%= render :partial => "commons/file/row", :collection => @new_files, :as => :file %>

  </tbody>
</table>



