<ul class="nav nav-pills">
  <li class="active">
    <%= link_to @indexed_directory.device.name, device_path(@indexed_directory.device.id) %>
  </li>
  <% @indexed_directory.hierarchy.each do |directory| %>
        <li class="active">
          <%= link_to directory.name, indexed_directory_path(directory) %>
        </li>
  <% end %>
  <li>
    <%= link_to @indexed_directory.name, indexed_directory_path %>
  </li>
</ul>

<% content_for :menu do %>
<p>
  <strong>Name:</strong>
  <%= @indexed_directory.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= hsize(@indexed_directory.size) %>
</p>


<p>
  <b>Device:</b>
  <%= @indexed_directory.device.name %>
</p>

<p>
  <b>Symboliclink:</b>
  <%= @indexed_directory.symboliclink %>
</p>

<p>
  <b>Indexable:</b>
  <%= @indexed_directory.indexable %>
</p>

<p>
  <b>Sortable:</b>
  <%= @indexed_directory.sortable %>
</p>

<p>
  <b>Recursive:</b>
  <%= @indexed_directory.recursive %>
</p>

<p>
  <b>Indexed:</b>
  <%= @indexed_directory.indexed %>
</p>

<p>
  <b>Full Indexed:</b>
  <%= @indexed_directory.recursive_indexed %>
</p>


<p>
  <b>Deleted:</b>
  <%= @indexed_directory.deleted %>
</p>

<%= link_to 'Edit', edit_indexed_directory_path(@indexed_directory), :class => 'btn btn-primary btn-large' %>
<%= link_to 'Indexing', indexing_indexed_directory_path(@indexed_directory), :class => 'btn btn-primary btn-large' %>

<div id="options_dir" class="accordion">
	<div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#collapseOne" data-parent="#options_dir" data-toggle="collapse" class="accordion-toggle">
		  Options
		</a>
	  </div>
	  <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
		<div class="accordion-inner">
			Recursive
			Overwrite
		</div>
	  </div>
	</div>
</div>
<% end %>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @indexed_directory.indexed_directories.each do |directory| %>
      <tr>
        <td>
          <i class="icon-folder-close"></i>
          <%= directory.name %>
          <% if directory.indexed? and !directory.recursive_indexed? %>
              <span class="label label-success">Indexed</span>
          <% end %>
          <% if directory.recursive_indexed? %>
              <span class="label label-success">Full-Indexed</span>
          <% end %>
        </td>
        <td><%= hsize(directory.size) %></td>
        <td>
          <%= link_to(directory) do %>
              <i class="icon-chevron-right"></i>
          <% end %>
          <%= link_to indexing_indexed_directory_path(directory) do %>
              <i class="icon-play"></i>
          <% end %>
          <%= link_to update_stats_indexed_directory_path(directory) do %>
              <i class="icon-refresh"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  <% @indexed_directory.indexed_files.each do |file| %>
      <tr>
        <td><%= file.name %></td>
        <td><%= hsize(file.size) %></td>
        <td></td>
      </tr>
  <% end %>

  <% @new_directories.each do |directory| %>
      <tr>
        <td>
          <i class="icon-folder-close"></i>
          <%= directory %>
          <span class="label label-warning">new</span>
        </td>
        <td></td>
        <td></td>
      </tr>
  <% end %>

  <% @new_files.each do |file| %>
      <tr>
        <td>
          <%= file %>
          <span class="label label-warning">new</span>
        </td>
        <td><%= hsize(File.size(file)) %></td>
        <td></td>
      </tr>
  <% end %>


  </tbody>
</table>



